h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1 {color: red;}
h2 {color: green;}
h3 {color: blueviolet;}
p {color: yellowgreen;}
img {border-radius: 20px;}
a {color: blue;}